# this is .env example
JWT_SECRET='some-secret-key'
PORT=4000
CORS_ORIGIN="http://localhost:3000 http://localhost:3001 http://kurs.nomoredomains.rocks https://kurs.nomoredomains.rocks"
MONGO_URL='mongodb://localhost:27017/mestodb'
