.element__delete-button {
  position: absolute;
  width: 18px;
  height: 20px;
  top: 18px;
  right: 15px;
  background: url("../../../images/trash.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.element__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
