.profile__name-text {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media (max-width: 880px) {
  .profile__name-text {
    max-width: 320px;
  }
}

@media (max-width: 588px) {
  .profile__name-text {
    max-width: 260px;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
